In [6]:
#Import the dependencies.
import pandas as pd         # to read the csv file and create the locations & measurements from the DF
import gmaps                # to create heatmaps and locations map
import requests             # to make a request to the Google Places JSON file
#Import the API key.
from config import g_key    # to create heatmaps and locations map

                            # Our dependencies will allow us to get hotel locations from the latitude and longitude of the city

In [7]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Katsuura,JP,2019-11-06 00:16:32,33.93,134.50,59.00,66,40,10.29
1,1,Butaritari,KI,2019-11-06 00:16:33,3.07,172.79,84.04,76,1,11.74
2,2,Vostok,RU,2019-11-06 00:16:33,46.45,135.83,15.40,85,100,8.66
3,3,Punta Arenas,CL,2019-11-06 00:16:33,-53.16,-70.91,41.00,100,75,9.17
4,4,Cabo San Lucas,MX,2019-11-06 00:15:11,22.89,-109.91,84.99,65,40,12.75

In [8]:
# Check the data types of a DF
# The data we use for any mapping must be either an integer or a floating-point decimal number.

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object


## Create Heatmap for Maximum Temperature

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [23]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp]) #[max(0,temp) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Modity the gmaps.heat_layer to enlarge circles for the temps and show temperature gradient differences.

# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


## Create a Heatmap for Percent Humidity

In [21]:
# Heatmap of Humidity
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Humidity.
humidity = city_data_df["Humidity"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


## Create a Heatmap for Percent Cloudiness

In [24]:
# Heatmap of Cloudiness
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Cloudiness.
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


## Create a Heatmap for Wind Speed

In [25]:
# Heatmap of Wind Speed
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the Wind Speed
wind_speed = city_data_df["Wind Speed"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))


## Get Vacation Criteria

In [27]:
# Ask the customer to add a minimum and maximum temperature value.
# For the app we are creating, we need to prompt the user to enter the minimum and maximum temperature ranges
# as floating-point decimal numbers to filter the city_data_df DataFrame.


min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [30]:
# Next, filter the maximum temperature column in the city_data_df DF using logical operators to create a new DF 
# with the cities that meet the customer’s criteria.
# Recall that you use the loc[] method on the current DataFrame to create a new DataFrame from a current DataFrame. 

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Butaritari,KI,2019-11-06 00:16:33,3.07,172.79,84.04,76,1,11.74
4,4,Cabo San Lucas,MX,2019-11-06 00:15:11,22.89,-109.91,84.99,65,40,12.75
6,6,Hilo,US,2019-11-06 00:16:35,19.71,-155.08,84.20,66,1,9.17
7,7,Avarua,CK,2019-11-06 00:16:35,-21.21,-159.78,75.20,73,100,4.70
16,16,Anloga,GH,2019-11-06 00:16:37,5.79,0.90,80.60,88,20,3.36
20,20,Rikitea,PF,2019-11-06 00:16:37,-23.12,-134.97,77.40,80,15,5.01
23,23,Rock Sound,BS,2019-11-06 00:16:38,24.90,-76.20,80.22,82,65,14.07
26,26,Port Augusta,AU,2019-11-06 00:16:39,-32.49,137.76,78.01,43,4,10.29
35,35,Phan Thiet,VN,2019-11-06 00:16:41,10.93,108.10,75.27,88,95,3.44
38,38,Bluff,AU,2019-11-06 00:16:41,-23.58,149.07,75.72,18,24,11.70

In [35]:
# Determine if the preferred_cities_df DataFrame has any null values for any of the rows.Use either code

preferred_cities_df.isnull().sum()   # to ensure no values are null
#or
preferred_cities_df.count()          #to ensure count for all variables are same

City_ID       156
City          156
Country       156
Date          156
Lat           156
Lng           156
Max Temp      156
Humidity      156
Cloudiness    156
Wind Speed    156
dtype: int64

#### Get Travel Destinations

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
# Make a copy of the preferred_cities_df

hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
1       Butaritari      KI     84.04   3.07  172.79
4   Cabo San Lucas      MX     84.99  22.89 -109.91
6             Hilo      US     84.20  19.71 -155.08
7           Avarua      CK     75.20 -21.21 -159.78
16          Anloga      GH     80.60   5.79    0.90
20         Rikitea      PF     77.40 -23.12 -134.97
23      Rock Sound      BS     80.22  24.90  -76.20
26    Port Augusta      AU     78.01 -32.49  137.76
35      Phan Thiet      VN     75.27  10.93  108.10
38           Bluff      AU     75.72 -23.58  149.07

#### Retrieve Hotels from a Nearby Search

####### Set the Parameters for a Nearby Search

In [48]:
# In a new cell, add the parameters as key-value pairs.
# Add the params dictionary, API key, type, and radius parameters with the following values.

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

#### Iterate Through hotel_df DataFrame

In [66]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to the params dictionary as values to the location key.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()

 # Modify the last piece of code and make a try-except block to handle the IndexError
 # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print(hotel_df.loc[index, "Hotel Name"])
    except (IndexError):
        print("Hotel not found... skipping.")

Isles Sunset Lodge
Tesoro Los Cabos
Hilo Seaside Hotel
Paradise Inn
Pin Drop Hotel
Pension Maro'i
Rock Sound Club
Majestic Oasis Apartments
Hotel Saigon-PT
Bluff Hotel
Vanira Lodge
Hôtel Le Dronmi
Desert Gardens Hotel - Ayers Rock Resort
Scoop Guest House
Casa Rosa Hotel Residence
Hotel Jhennifer
Complexe Hôtelier Du 18 Décembre
Sabrin Hotel
Hotel not found... skipping.
Courtyard by Marriott Kaua'i at Coconut Beach
Crowne Plaza Acapulco
Hotel Atoll Emerald Miyakojima
Villa Enata
Kanhai's Center
Aston Denpasar Hotel & Convention Center
Hotel not found... skipping.
Hotel Don Fernando
Pousada Porto Praia
Laguna Maya Lodge
Nuestra Casa
Pondok Indah Gula Habang
Hôtel Trois Étoiles de Biltine
Butterfly Beach Hotel
Hotel José Pereira
Reserva do Abiaí
Derogongan Residence
Hotel not found... skipping.
Mandiri
East Pacific Center
Bean pods
Hotels in Lakshadweep Islands
Sur Plaza Hotel
Hotel Salinópolis
Hotel Nord Class Tambaú
Outback Samagos, KIUNGA. WP
Swiss Belhotel Manokwari
Nusa Island Retreat
Daru hotel
Aldea del Bazar Hotel and Spa
ALETHEIA Appartement Sinnamary
Tiara Labuan Hotel
Maqna Hotel by Prasanthi
Tanal Hotel Apartment
El Fresco Lodge
Groote Eylandt Lodge
Backpackers Inn on the Beach
Bungalow 63
HAMDAN PLAZA HOTEL
Hotel isabella
The Waigo Hotel
Namatanai Hotel
ibis Styles Mt Isa Verona
Osprey Beach Hotel
Hotel not found... skipping.
Juvinal Martin
Lovers Point Inn
Boboi Beach Lodge
Hotel not found... skipping.
The Irish Village
Palm Spring Hotel
Iriz Garden
La Ode Gombe
Kost Pria
Taloa Heights
Hotel not found... skipping.
ibis Styles Karratha
Camp Pasica
Haajy Guest House 1
Hotel not found... skipping.
K2 Lembeh
Conquistador Hotel
Pousada Porto Do Conde
Posada Lilia
Shellharbour Resort & Conference Centre
Selina Pedasi
Hotel Ypê
Savli Resort/Hotel - Shriwardhan
PIZZARIA MARIANA
Hotel Iparana Paradise
Hotel Aconcagua
Olympic Hotel
Ilha Flat Hotel
Ocean Pearl Bonefishing Resort
Hotel not found... skipping.
Raybow International Hotel
Lamana Hotel
A Beach Retreat
INN NEW HORIZON
Restaurant gourmand Coco Lodge Majunga
Sandeep Holiday Homes, Prarthana Niwas
Zal-Ann Beach Resort
Tortuga B&B
Hotel not found... skipping.
Hotel not found... skipping.
Pousada Porto De Canoas
Apart Hotel Rio Xingu
Royal Exchange Hotel
Hotel not found... skipping.
Maison d'arrêt et de correction de Yoro
Monza Palace Hotel
Hotel Silva
Sea Sun Moon Hostel
Moondarra Motel
Hotel Alice
Ungoofaaru Inn
Hôtel Rehoboth
Bora-Bora Pearl Beach Resort & Spa
Eco-Hotel Hall & Restaurant
Hotel Le Martin Pecheur
Shovy's Cove
Hôtel Iman
Golden Nugget Laughlin Hotel & Casino
Hotel not found... skipping.
Holiday Inn Express Lompoc
Hotel not found... skipping.
The Sebel Kiama Harbourside
Hotel not found... skipping.
CeBlue Villas & Beach Resort
Hôtel Songhoi
Focus Guest Inn
Porto Santana
Leonardo Family Beach House 1
ZINGARA 76ft Catamaran, full crew-all included
Kost Putri RABBANI
Atlantis Hotel
900 Boutique INN
LIKWALE LODGE
Hotel Istana
Santa Fe Inn Hotel
Hostal Donde La Turca
Atherton Holiday Park
Hotel Pousada de Minas
San Quintin River Resort
Hotel Miramar
Hotel not found... skipping.
Hotel Novotel Manaus
The Ocean Pearl
Maitai Lapita Village Huahine
Hotel Fairmont Makkah Clock Royal Tower
Hotel Nusantara Nabire
Crôa Mares Hotel
Volcano Sea View Tree House
Lorengau Harbourside Hotel
Ecoporan Hotel Charme Spa & Eventos
Hotel not found... skipping.
Sheffield House Bed & Breakfast



## Create a Maximum Temperature Heatmap from a Hotel DataFrame

In [51]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [69]:
# Add a pop-up marker for each city that displays the hotel name, city name, country, and maximum temperature.
# Add an info_box_template

info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [70]:
## Syntax  for adding markers = gmaps.marker_layer(marker_locations, where the marker_locations are latitudes and longitudes.

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))